/* App.css */

body {
  background-color: #1e1e1e; /* Cambia este color al que prefieras */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 1000px;
  margin: 0;
}

.main-content {
  margin-top: calc(50px + 10px); /* 50px es la altura del nav + 10px de separación */
  padding: 20px; /* Espaciado interno */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  margin-bottom: 600px;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

select {
  width: 100%;
  padding: 10px;
  border: 2px solid #777;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

select:focus {
  border-color: #ffcc00;
  outline: none;
}

h1 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #ffcc00;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #777;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
}

.main-content {
  margin-top: 650px; /* Espacio debajo del nav */
  padding: 20px; /* Espaciado interno */
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 12px;
  font-weight: bold;
}

button:hover {
  background-color: #e65c00;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}